asgiref
astroid
autopep8
certifi
colorama
Django
django-bootstrap4
django-crispy-forms
furl
isort
lazy-object-proxy
mccabe
olefile
orderedmultidict
Pillow
pycodestyle
pylint
pytz
six
sqlparse
toml
typing-extensions
wincertstore
wrapt
