{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<title>Profile Creation Form</title>

<div class="card content-section col-md-12 mt-3 py-3 border-info" style="width: 40rem;">
    <div class="content-section col-md-12">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <fieldset class="form-group">
                <div class="border-bottom">
                    <legend class="text-center">
                       Create your profile
                    </legend>
                </div>
                <div class="py-3">
                    {{ form | crispy }}
                </div>
            </fieldset>

            <div class="form-group text-center">
                <button class="btn btn-warning" type="submit">Create</button>
            </div>
        </form>

        <div class="border-top pt-3 text-center">
            <small class="text-muted">
                Go back to the <a href="{% url 'home' %}">Homepage</a>.
            </small>
        </div>

    </div>
</div>

{% endblock content %}
